PORT=3000
DB_HOST=mysql-32b38ff-rastreo-gsa.d.aivencloud.com
DB_PORT=21064
DB_USER=avnadmin
DB_PASSWORD=AVNS_RUSXbD6YUjKi2JUNXOa
DB_NAME=defaultdb
JWT_SECRET=supervision_campo_jwt_secret_2026
QR_SECRET=supervision_campo_qr_secret_2026
# Reglas de validación
DURACION_MINIMA_MIN=10
DESFASE_RELOJ_MAX_MIN=5
PRECISION_GPS_MAX_M=100
